In [1]:
import pandas as pd
import numpy as np


ratings = pd.read_csv('ml-100k/u.data',
                      sep="\t",
                      names=["user_id", "movie_id", "rating"],
                      usecols=range(3)
                      )
# ratings.head()

movies = pd.read_csv('ml-100k/u.item',
                     sep="|",
                     names=["movie_id", "movie_title", "release_date"],
                     usecols=range(3),
                     encoding='latin-1'
                     )
# movies.head()

movie_ratings = pd.merge(ratings, movies)
movie_ratings.head()

   user_id  movie_id  rating   movie_title release_date
0      196       242       3  Kolya (1996)  24-Jan-1997
1       63       242       3  Kolya (1996)  24-Jan-1997
2      226       242       5  Kolya (1996)  24-Jan-1997
3      154       242       3  Kolya (1996)  24-Jan-1997
4      306       242       5  Kolya (1996)  24-Jan-1997

In [9]:
movie_ratings.to_csv("movie_ratings.csv")